<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Productos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Código</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Imágenes</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.code}}</td>
          <td>{{this.price}}</td>
          <td>{{this.status}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>
            {{#each this.thumbnail}}
            <img src="{{this}}" alt="Imagen del producto" style="width: 50px; height: 50px;">
            {{/each}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>
</html>
